body {
  background-color: #EEEEEE;
  margin: 0;
}

.top-bar{
  background-image: linear-gradient(transparent, #EEEEEE);
  margin: 0 auto;
  max-width: 400px;
}
.top-bar img{
  margin: 0 auto;
  max-width: 150px;
}
